# build artifacts
plugin.sketchplugin

# npm
node_modules
.npm
npm-debug.log

# mac
.DS_Store

# WebStorm
.idea

#build-directions
skpm-process.md

# Sketch plugin output
SVG Export Renamer.sketchplugin
SVG Export Renamer.sketchplugin.zip
